body{
    background-color: palevioletred;
    display:flex;
    justify-content: center;
    align-items:center;
    height:100vh;
}
.container{
    background-color: rgb(216, 123, 138);
    padding:30px 40px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 4px 0px rgba(43, 4, 4, 0.2);
}
label{
    display:block;
    margin: bottom 10px;px;
    color:#0f0e0e;
}
.input-group{
    margin-bottom: 15px;
}
input[type="text"]{
    width:calc(100%-20px);
    border:1px solid cornsilk;
}
h1{
    color:#0f0d0d;
    margin-bottom:

}